<div id="<%= dom_id room %>" class="card">
  <div class="card-body">
    <p class="card-text"><%= room.name %></p>
  </div>
  <div class="card-footer">
    <div class="btn-group" role="group" aria-label="Actions">
      <%= link_to "Edit this room", edit_room_path(room), class: 'btn btn-success' %>
      <%= link_to "Back to rooms", rooms_path, class: 'btn btn-secondary', 'data-turbo-frame': '_top' %>
    </div>
  </div>
</div>